@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* colors */
  --bg-aside: #1c1238;
  --bg-dashboard: #f3f7ff;
  --color-primary-1: #1ed8b9;
  --color-primary-3: #f55364;
  --color-primary-4: rgb(110, 15, 245);

  --color-text-1: #2a1f4b;
  --color-text-2: #211543;
  --icon-color-dark: #1a1f3d;
  --icon-color-light: #d0c7e8;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  --sidebar-width: 65px;
  --sidebar-inline-margin: 10px;
  --sidebar-full-space: calc(
    var(--sidebar-width) + var(--sidebar-inline-margin)
  );
  --sidebar-open-animation-duration: 0.3s;
  /* font-family: "BPG Nateli", sans-serif !important; */

  /* font-family: 'Inter'; */
  font-family: "DejaVu Sans", sans-serif !important;

  position: relative;

  background-color: #f9f8fc;
}

.parag {
  color: red;
  font-family: "DejaVu Sans", sans-serif !important;
  font-size: 26px;
}

/* a{
  font-family: "babuka" !important;


}

li{
  font-family: "babuka" !important;

} */

@tailwind base;
@tailwind components;
@tailwind utilities;
p,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
label,
input,
input::placeholder {
  font-family: "DejaVu Sans", sans-serif !important;
}

body.body-sidebar-open {
  --sidebar-width: 190px;
}

#root {
  margin: 0px;
  max-height: 100vh;
  padding: 0px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  /* dashboard navbar and dashboar-main will use this padding */
  --right-adge-padding: 4rem;

  overflow-y: auto;
  /* 63 is navbar Height */
  /* padding-top: 63px; */

  flex-shrink: 1;
}
.dashboard--dash {
  background: #f9f8fc;
}

.dashboard--dash::before {
  content: "";
  position: absolute;

  width: 300px;
  background-color: white;
  display: block;
  top: 0.5rem;
  bottom: 1.4rem;
  right: 1rem;
  z-index: 9;
  background-color: #fff;
  border-radius: 15px;

  background-image: url(../assets/dash-car.png);
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: contain;

  display: none;
}

.btn-messenger {
  position: absolute;

  --dis: 3rem;

  bottom: var(--dis);
  right: var(--dis);
  z-index: 9999;
  display: none;
}
.dashboard--dash .btn-messenger {
  /* display: block; */
}

.btn-messenger::before {
  content: "რით შგევიძლია დაგეხმაროთ?";
  background-color: #fff;
  width: 250px;
  padding: 1rem;
  border-radius: 15px;
  font-weight: 700;

  position: absolute;

  left: 0%;
  top: -30px;
  font-size: 14px;
  transform: translate(-90%, 0);
  z-index: -1;
  box-shadow: 0px 4px 4px rgba(110, 15, 245, 0.06);
  cursor: default;
}

/* Main */
.dashboard-main {
  /* background-color: #F3F7FF; */
  background-color: #f9f8fc;
  flex-grow: 1;
  padding: 3rem;
  padding-top: 2rem;
  /* this is sidebars full space(width+leftPadding+rightPadding+dashboard items right padding) */
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--sidebar-full-space) + var(--right-adge-padding));
  transition: var(--sidebar-open-animation-duration) ease-in-out;

  transition: all 0.3s ease-in-out;
  /* overflow: hidden; */
  /* border: 1px solid green; */
  flex-shrink: 1;
  height: 200px;
}

@media (max-width: 900px) {
  .sidebar-menu-btn {
    display: block !important;
  }

  .dashboard-main {
    padding-left: 30px;
  }
  .dashboard-navbar {
    padding-left: 30px !important;
    padding-inline: 10px !important;
  }

  .dashboard-aside.responsive {
    top: 0;
    bottom: 0;
    border-radius: 0;
    left: 0;
    transform: translate(-110%, 0);
    /* max-height: calc(100vh - 150px); */
    height: 100vh;
    overflow-y: auto;
  }

  .dashboard-aside.responsive .aside-btn {
    display: none;
  }

  .body-sidebar-open .dashboard-aside.responsive {
    transform: translate(0, 0);
  }
}

.dashboard-main.static {
  padding-left: 115px;
}

@media (max-width: 700px) {
  .dashboard-main.static {
    padding-right: 15px;
    padding-left: 15px;
  }
}

body.dashboard-main-fullscreen .dashboard-main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999999;
  padding-left: 3rem;
}

.dashboard-main--fullscreen {
}

.dashboard-main__container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.settings {
}

.settings h1 {
  font-size: 2rem;
}

/* Navbar */
.dashboard-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 2rem;
  padding-left: var(--sidebar-full-space);
  padding-right: 3rem;

  min-height: 5rem;

  padding-left: calc(var(--sidebar-full-space) + var(--right-adge-padding));
  transition: var(--sidebar-open-animation-duration) ease-in-out;
}

.dashboard-navbar-fixed {
  position: sticky !important;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: red !important; */
  /* opacity: 0; */
}

.dashboard-navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-navbar a:hover img {
  /* filter:brightness(190%) */
}

.dashboard-navbar img {
  width: 3.3rem;
  margin-left: 2rem;
  cursor: pointer;
}

.gdm-container {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.gdm-container span {
  font-weight: bold;
}

.gdm-link {
  background-color: var(--bg-aside);
  display: flex;
  justify-content: flex-start;
  --size: 4.55rem;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  padding: 5px;
}

.gdm {
  /* margin-right: 1rem; */
  flex-shrink: 0;
  fill: #fff;
  width: 3rem;
}

/* Aside */

/* ---------- *\
 # Settings Top
\* ---------- */

.settings__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__filters {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.settings__filters img {
  width: 1.8rem;
  opacity: 0.5;
}

.settings__top button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.settings__top button.selected img {
  opacity: 1;
}

.input {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  outline: none;
}

.input:focus {
  outline-offset: 2px;

  /* outline: 1px var(--color-primary-4) solid; */
}

/* ------------- *\
 # Settings Bottom
\* ------------- */

.settings__bottom {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;

  z-index: 999;
  position: relative;

  align-items: center;
  min-height: 90px;
}

.carousel {
  display: flex;
  gap: 1rem;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  background-color: white;

  border-radius: 1rem;
  width: 9rem;

  text-align: center;

  font-weight: bold;
  line-height: 1.2;
  font-size: 14px;
  cursor: pointer;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.carousel-item:hover {
  filter: brightness(98%);
}

.carousel-item.active {
  background-color: var(--color-primary-1);
}

.input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type="radio"] {
  /* appearance: none;
  background-color: #fff;
  display: block;
  width: 1rem;
  height: 1rem; */

  appearance: none;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);

  display: inline-block;
  margin-left: 5px;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  outline: none;
}

input[type="radio"]:before {
  content: "";
  position: absolute;
  background-color: red;
  width: 22px;
  height: 22px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 100%;
  background-color: white;
  /* transition: all 0.1s ease; */
}

input[type="radio"]:checked:before {
  background-color: var(--color-primary-1);
  transform: translate(-50%, -50%) scale(1);
}

input[type="radio"] + label {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Shops setting */

.shop-settings {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.shop-settings label {
  font-weight: bold;
  font-size: 1.5rem;
}

.sla-container {
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.sla-num {
  color: var(--color-primary-1);
  font-size: 2.1rem;
  letter-spacing: 0px;
}

@media (max-width: 900px) {
  .dashboard-main {
    padding-inline: 5px;
  }
}
