.dashboard-aside {
  background-color: var(--bg-aside);
  max-height: calc(100vh - 40px);
  width: var(--sidebar-width);

  /* padding: 1rem; */
  padding-bottom: 3rem;
  border-radius: 20px;

  position: fixed;
  left: var(--sidebar-inline-margin);
  top: 20px;
  bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: all 0.3s ease-in-out;

  user-select: none;

  z-index: 999999999;

  /* font-family: "DejaVu Sans", sans-serif !important; */

  /* height: 400px; */
  /* outline: 4px solid limegreen; */

}

.dashboard-aside:hover ::-webkit-scrollbar-thumb{
	background-color: #ede9f096;
  transition: all 0.3s ease;

}

.dashboard-aside ::-webkit-scrollbar-thumb{
	background-color: #ad9dbb00;


}

.dashboard-aside ::-webkit-scrollbar-track{
  background-color: #1c1238 !important;
  border-radius: none !important;

}

.dashboard-aside ::-webkit-scrollbar{
  background-color: #1c1238 !important;

}


.dashboard-aside.go-right {
  left: 100px;
}


.dashboard-aside  a{
  text-decoration: none;
  font-size: 16px;
}

.dashboard-aside-container {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 100%;
  /* background-color: pink; */

  max-height: 100%;
  height: 100%;
}

.dashboard-aside__list-wrapper{
  padding-top: 40px;
  /* background-color: blue; */
  /* border: 2px solid red; */
  width: 100%;
  height: calc(100% - 66.6px);


}

.dashboard-aside__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 100% !important;
  /* background-color: yellow; */
  height: 100%;
  max-height: 100% !important;
  overflow-y: scroll;
  /* height: 300px; */
  scrollbar-gutter: stable;
  scrollbar-width: thin;

 


}

/* LOGO */
/* LOGO */
/* LOGO */
/* LOGO */
.marlin-logo-container {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
}

.logo-img{
    width: 100%;
    width: 45px;
    height: 46.6px;
    display: block;
    flex-shrink: 0;
    user-select: none;
}

.marlin-text{
    opacity: 0;
    height: 22px;
    align-self: flex-end;
    margin-bottom: 5px;
    transition: var(--sidebar-open-animation-duration) ease-in-out;
    user-select: none;

}

.body-sidebar-open .marlin-text{
    opacity: 1;
}
  

/* Logo end */
/* Logo end */



.dashboard-aside__list li{
  position: relative;
  /* padding-inline: 2rem; */
  pointer-events: all;

  max-width: 100%;
  overflow: hidden;
  background-color: #1c1238;
  cursor: pointer;

  /* display: none; */
  flex-shrink: 0;


}

.dashboard-aside__list li:hover{
  /* background-color: hsl(256, 51%, 18%); */


}

.dashboard-aside__list li:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 4px;
  background-color: #fff;
  border-radius: 25px;
}



.dashboard-aside__list li:has(a.active)::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 4px;
  background-color: #fff;
  border-radius: 25px;

}

.dashboard-aside__list a {
  display: flex;
  text-decoration: none;
  color: white;
  gap: 1rem;
  align-items: center;
  /* font-family: "babuka" !important; */
  text-transform: lowercase;
  width: 100%;
  /* 6px is width of scrollbar */
  padding:0.5rem 2rem;
  padding-right:   calc(2rem - 6px);

}

.dashboard-aside__list img,
.dashboard-aside__list svg {
  min-width: 2.5rem !important;
  margin: auto;
  display: block;
  /* transition: all 0.3s; */
  filter: brightness(60%);
}

.dashboard-aside__list span{
  /* transition: 0.3s; */
  opacity: 0;
  filter: brightness(60%);

}


.aside-label {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8) !important;
  opacity: 0;
  transition: var(--sidebar-open-animation-duration) ease-in-out;
  pointer-events: none;


}

.body-sidebar-open .aside-label {
  opacity: 1;
  pointer-events: all;
}

.dashboard-aside__list__vendor {
  display: block;
  transform: translate(0, 2px);
  /* background-color: red; */
}

.dashboard-aside__list__vendor + span {
  transform: translate(0, 2px);
}

.dashboard-aside__list li:hover img,
.dashboard-aside__list li:hover svg{
  /* transform: scale(1.1); */
  filter: brightness(100%);
}

.body-sidebar-open  .dashboard-aside__list li:hover span{
  filter: brightness(100%) !important;
  opacity: 1


}


.dashboard-aside__list a.active img ,
.dashboard-aside__list a.active svg{
  filter: brightness(100%);

}


.body-sidebar-open .dashboard-aside__list a.active span {
  filter: brightness(100%);
  opacity: 1;
}

.aside-terms {
  margin-top: auto;
}

.aside-paper {
}


/* Close/Open Btn */
/* Close/Open Btn */

.aside-btn{
  position: absolute;
  right: 0%;
  top: 64px;
  transform: translate(50%, 0) ;
  cursor: pointer;

}


.aside-btn img ,
.aside-btn svg{
  transition:  var(--sidebar-open-animation-duration) ease-in-out;
  transform: rotate(0deg);
  width: 32px;
  height: 32px;
}


.body-sidebar-open .aside-btn img ,
.body-sidebar-open .aside-btn svg{
  transform: rotate(180deg);


}

.aside-settings{
  margin-bottom: 40px;
}

/* Responsive */
/* Responsive */
/* Responsive */



.sidebar-menu-btn{
  font-size: 40px;
  display: none;
  margin-right: 2rem;

}




.aside-overlay{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.197);
  z-index: 999999999;
  display: none;
}

@media (max-width: 900px) {
  .body-sidebar-open .aside-overlay{
    display: block;
  }
  
  /* .body-sidebar-responsive-close  .dashboard-aside.responsive{
    transform: translate(-110%, 0);

  }

  .body-sidebar-responsive-close .aside-overlay{
    display: none;
  } */
}

