.dashboard-navbar .btn-outlined{
  transition: all 0.2s ease;
}

.dashboard-navbar .btn-outlined:hover{
  background-color: var(--color-primary-4);
  color: white;

}

.dashboard-navbar .btn-link:hover{
  filter: brightness(90%);
}
