
.btn-date{
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #211543;
  margin:auto;

  position: relative;
}

.btn-date::before{
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 80%;
  height: 1px;
  transform: translate(-50%, 2px);
  background-color: #D0C7E8;
  transition: 0.2s ease;
}

.btn-date:hover::before{
  width: 85%;
  transform: translate(-50%, 2px) ;
}

.date-menu .szh-menu__item{
  background-color: #fff;

}

.date-menu .szh-menu__item--hover{
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  background-color: #fff;

}

.rdrDateRangePickerWrapper{
  box-shadow: none !important;
}

.rdrDateRangePickerWrapper span{
}


.rdrDateRangePickerWrapper select{
  font-weight: 400;
}



/* left */
/*  left */
.rdrDefinedRangesWrapper{
  display: flex;
  flex-direction: column;
}

.rdrStaticRanges{
  /* margin-top: auto; */
}

.rdrInputRanges{
  /* display: none; */
}


/*  */
/*  */
.rdrDateDisplayWrapper{
  background-color: #fff !important;
}

.rdrDateDisplayWr, .rdrDateRangeWrapper{
  background-color: #fff !important;
}

.rdrDateDisplay{
  background-color: #fff !important;

}

.rdrDateInput{
  box-shadow: none;
}