


.date-range-picker-one {
  width: 450px;
}

.date-range-picker-one .rdrDefinedRangesWrapper{
  border-color: #fff;
}

.date-range-picker-one .rdrMonthName{
  display: none;
}


/* General */
/* General */
.rdrMonthPicker select,
.rdrYearPicker select{
  border-radius: 30px;
  width: 110px;

}

.rdrDayNumber span::after{
  background-color: hsl(265, 97%, 72%) !important;
}


/* LEft  */
/* LEft  */
/* LEft  */

.rdrDefinedRangesWrapper{
  cursor: default;
}

.rdrStaticRange{
  padding: 0.5rem 0 !important;
  margin: 0 !important;
  border: none !important;
  position: relative;
}

.rdrStaticRangeLabel{

}

.rdrStaticRange:hover{
  background-color: #fff;
}

.rdrStaticRange:hover .rdrStaticRangeLabel{
  background-color: #fff !important;
  color: #6E0FF5;
}

.rdrStaticRange:last-child{
  bottom: none;
}

.rdrStaticRange:before{
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 0;
  /* transform: translate(-50%, 0); */
  height: 1px;
  width: 110px;
  display: block;
  background-color: #ebe8f58a;
}

.rdrStaticRange:last-child:before{
  display: none;
}


@media (max-width: 501px) {
  .date-menu ul{
    margin-left: -10px !important;
  }

  .date-menu .szh-menu__item{
    padding: 0 !important;
  }
  
  .date-range-picker-one {
    width: 300px;
  }

  .date-menu .rdrDefinedRangesWrapper{
    display: none;
  }

  
  .date-menu .rdrStaticRange{
    padding-left: 0 !important;
  }

  .date-menu .rdrStaticRangeLabel{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 65px;
    background-color:red;

  }

  .date-menu .rdrStaticRange:before{
    width: 60px;
    left: 0rem;
  }


  .date-menu .rdrDay{
    width: 40px;

  }
  

  .date-menu .rdrWeekDay{
    width: 40px !important;
    max-width: 40px;
  }

  .date-menu .rdrDateDisplay{
    gap:0;
    width: 270px;
  }
  
  .date-menu .rdrDateInput{
    width: 140px !important;
    max-width: 140px !important;
  }

  .date-menu .rdrMonthAndYearPickers{
    max-width: 100% !important;
    width: 100% !important;  
    max-width: 300px !important;
    min-width: 0 !important;
  }
}