.date-picker-wrapper{
  width: 273px;
}

.rdp-caption{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  font-weight: 700;
font-size: 18px;
line-height: 17px;
/* identical to box height */


color: #211543;

}

.rdp-head_cell{
  padding: 0;
  text-align: center;
  background-color: #fff;
  --size: 30px;
  width: var(--size);
  height: 35px;
  margin: 2px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  /* identical to box height */
  border: 5px solid transparent;



  color: #211543;

}

/* body */
/* body */
.rdp-cell{

}

.rdp-cell .rdp-button{
  background-color: #fff;
  --size: 35px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #211543;

  font-size: 14px;


}

.rdp-cell button.rdp-button:hover{
  border: 1px solid var(--color-primary-4) ;

}

.rdp-cell .rdp-button.rdp-day_selected{
  border: 1px solid var(--color-primary-4);
  background-color: var(--color-primary-4);
  color: white;
}



.rdp-day_today{
  position: relative;
  font-weight: 400 !important;
}

.rdp-day_today:before{
  content: "";
  position: absolute;

  bottom: 2px;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #D0C7E8;
  transform: translate(50%);
  z-indeX: 999;

}

.rdp-head_cell{
  color: rgb(132, 144, 149);
  font-size: 12px !important;
  font-weight: 400 !important;

}