.invoices-table-status-btn{
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 5px;
 /* margin: auto; */
 padding-inline: 15px;
 width: 86px;
 height: 18px;
 font-size: 12px;
 color: #211543;
 cursor: default;
 font-weight: 600;
}

.invoices-table-status-btn--success{
  background-color: #FF5886;

}

.invoices-table-status-btn--danger{
  background-color: #1ED8B9;


}

.invoices-table .ag-cell[col-id="Status"]{
  display: flex;
  align-items: center !important;
  justify-content: flex-start !important;
  
}