.mobile-cat-container {
  margin-right: auto !important; 
  display: flex;
  align-items: center;
}


.mobile-cat-container  button{
  font-size: 30px;

}

.mobile-cat-container  button svg{
  height: 25px;
  fill:#D0C7E8;
}



.catalogue-header .heading{
  position: relative;
}

.catalogue-header .heading-label-container{
  color: #D0C7E8;
  font-weight: 400;
  position: absolute;
  width: 100%;
  bottom: -20px;
  display: none;
}

.catalogue-header .label{
  font-size: 12px;
}

@media (max-width: 610px){
  .catalogue-header .all-orders__settings__options{
    width: 100%;
  }

  .catalogue-header .heading{
    margin-bottom: 0.8rem;
    width: 100%;
  }

  .catalogue-header .order-details-left{
    margin-left: 0 !important;
    

  }

  .catalogue-header .heading-label-container{
    color: #D0C7E8;
    font-weight: 400;
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: block;
  }
  

}

/* Menu Start */
/* Menu Start */
/* Menu Start */
.mobile-catalogue-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999999999;
  background-color: #fff;
  padding: 2rem;
  overflow-y: scroll;
  transition: 0.3s;
}

.mobile-catalogue-menu-container.show .mobile-catalogue-menu  {
  transform: translate(0, 0);

}


.mobile-catalogue-menu-container.hide .mobile-catalogue-menu{
  transform: translate(-100%, 0);
  transition: 0.2s;

}

.mobile-catalogue-menu .category-arrow{
  display: block !important;
  font-size: 25px;
  opacity: 0.6;
}

.mobile-catalogue-menu .category-container li{
  position: relative;
  padding: 0.6rem;
  cursor: pointer;
}

.mobile-catalogue-menu .category-container li::before{
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #D0C7E8;

}

.mobile-catalogue-menu .category-container li:last-child::before{
  display: none;
}

.mobile-catalogue-menu .category-container li.active{
  color: var(--color-primary-4);
}

.mobile-catalogue-menu .category-container li:hover{
  color: var(--color-primary-4);

}

/* Sub Category */
/* Sub Category */

.mobile-catalogue-menu .sub-category-container{
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  gap:0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99000009999999999999999999999;
  background-color: #fff;
  padding: 2rem;

  transform: translate(-100%, 0);
  transition: 0.3s;


}

.mobile-catalogue-menu .sub-category-container li{
  cursor: pointer;
}

.mobile-catalogue-menu .sub-category-container li:hover{
  color: var(--color-primary-4);
}

.mobile-catalogue-menu .sub-category-container.show{
  transform: translate(0%, 0);

}
