.order-details-left{
  display: flex;
  align-items: center;
  gap: 3rem;

}

.order-details-left h4{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 5rem;

  color: #211543;
  text-transform: capitalize;

}

.order-details-left > span{
  font-weight: 700;
  font-size: 14px;
  color: #211543;
  
}


.order-details-left .btn{
  font-size: 12px !important;
  padding: 6px 18px;
}

.order-details-left .btn:hover{
  filter: brightness(95%);
}


.order-details-table  .ag-cell-focus{
  /* border: none !important; */
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}


.btn-status-2{
  background-color: #FFC23C36 !important;
  color: #FFA23C !important;
  border-radius: 5px !important;
  letter-spacing: 0.7px;
  font-weight: 700px;
  height: 25px;
  font-size: 12px;
}



.order-details-header p{
  --img-size: 25px;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  

}

.order-details-header .icon-span{
  width: var(--img-size);
  height: var(--img-size);
}
.order-details-header .icon-span img{
  width: var(--img-size);
  height: var(--img-size);
}

.order-details-header .badge{
  display: flex; 
  flex-direction: column;
  padding-top: 5px;

}


@media (max-width: 600px) {
 .order-details-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
 }

 .order-details-header .badge{
  background-color: rgb(59 130 246 / 0.05) !important;
}

 .all-orders__settings__options{
  margin-left: auto;
 }

 .btn-date{
  margin: 0;
  padding-left: 0 !important;
 }
 
}

