.progress-bar{
    overflow: hidden;
    display: block;
    height: 2px;
    z-index: 0;
    background-color: hwb(265 32% 0% / 0.542);
    position: absolute;
    top: -20px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    /* display: block !important; */
}

.progress-bar span{
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    transition: transform 0.2s linear 0s;
    transform-origin: left center;
    background-color: #6E0FF5;
    width: auto;
    animation: 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) 0s infinite normal none running animation-ozg7p2;
    border-radius: 2px;

}

@keyframes animation-ozg7p2 {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}