.sla-all-table .ag-row{
  cursor: pointer;
}

.sla-all-table  .ag-cell-focus{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.sla-all-table  .ag-row-focus{
  /* filter: brightness(90%); */

}

/* cell coloring */
/* cell coloring */
/* cell coloring */
.sla-colored-cell-table .ag-cell[aria-colindex="4"],
.sla-colored-cell-table .ag-cell[aria-colindex="5"],
.sla-colored-cell-table .ag-cell[aria-colindex="6"]{
  background-color: rgba(235, 232, 245, 0.5);
}


.sla-colored-cell-table .ag-row:last-of-type .ag-cell[aria-colindex="4"]{
  border-bottom-left-radius: 15px;
}

.sla-colored-cell-table .ag-row:last-of-type .ag-cell[aria-colindex="6"]{
  border-bottom-right-radius: 15px;
}

/* Headers */
.sla-colored-cell-table .ag-header-cell[aria-colindex="4"],
.sla-colored-cell-table .ag-header-cell[aria-colindex="5"],
.sla-colored-cell-table .ag-header-cell[aria-colindex="6"]{
  background-color: rgba(235, 232, 245, 0.5);
}

.sla-colored-cell-table .ag-header-cell[aria-colindex="4"]{
  border-top-left-radius: 15px;

}

.sla-colored-cell-table .ag-header-cell[aria-colindex="6"]{
  border-top-right-radius: 15px;

}


.sla-colored-cell-table .ag-header-active[aria-colindex="4"],
.sla-colored-cell-table .ag-header-active[aria-colindex="5"],
.sla-colored-cell-table .ag-header-active[aria-colindex="6"]{
  background-color: rgba(235, 232, 245, 0.5) !important;

}


/* ------------ */
/* ------------ */
/* @media (max-width:600px){ */

.sla-date{
  font-size: 14px !important;
  margin-right: auto;
  display: flex;
  align-items: center;
  overflow: visible !important;

}

.sla-date .btn-date{
  font-size: 14px !important;

}

.sla-date .btn-date::before{
  left: 83px;
}

.sla-date .calendar-span{
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;

}
.sla-date .calendar-span svg{
  fill: #211543;

}

.sla-header .all-orders__settings__options{
  margin-left: 0;
  display: flex;
}

.sla-header .order-details-left{
  margin-left: 0 !important;
}

.sla-header .all-orders__settings{
  gap: 1rem !important;
}

.reports-header  .all-orders__settings__options{
  width: 100%;
}


@media (max-width: 600px){
  .reports-header  .all-orders__settings__options{
    position: relative;
    display: flex;
    justify-content: end;

  }

  .sla-header .all-orders__settings__options{
    width: 100%;
    
  }
  
  .reports-header .sla-date{
    margin-left: 0;
    display: flex;
    margin-right: auto;
    width: 210px;
  }

 
  .reports-header .sla-date{
    height: 30px;
    overflow: hidden;
    transform: 0.3s;
    opacity: 1;
    width: 216px;
    min-width: 216px;
    position: absolute;
    top: 0;
    left: 0;

    transition: 0.3s;

  }
  
  

  .sla-date.hide{
    opacity: 0;
  }
  
}

.btn-date{

  margin-bottom: 0 !important;
  padding-bottom: 0;
  padding-left: 5px;
  border: none !important; 
}

.btn-date:hover{
  background-color: transparent !important;
  color:#211543 !important;
}

.btn-date::before{
  display: none !important;
}