.sla-header .react-select-container:hover {
}

.sla-header .report-child-menu-button:hover > svg:first-child {
  fill: #6e0ff5;
}

.categories-heading small {
  display: none;
}

@media (min-width: 600px) {
  .sla-settings {
    justify-content: end;
    max-width: 330px;
  }

  .sla-avg-mobile {
    display: none;
  }

  .sla-avg {
    min-width: 120px;
  }


}

@media (max-width: 600px) {
  .sla-top {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-items: end;
  }

  .sla-date {
    /* grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 1; */
    display: block;
    justify-self: end;
    margin-left: auto;
    margin-right: 0;
  }

  .sla-heading {
    /* grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 0;
    grid-column-end: 1; */
    justify-self: start;
  }

  .sla-select {
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 0;
    grid-column-end: 1; */
    justify-self: start;
  }

  .sla-menu {
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; */
    justify-self: end;
  }
  .sla-select {
    width: 150px;
  }

  .sla-settings {
    width: 100%;
  }

  .sla-avg {
    margin-right: auto;
  }

  .sla-avg-desktop {
    display: none;
  }

  .sla-avg-mobile {
    display: block;
  }

  /*  */
  /*  */
  /*  */

  .sla-avg .report-child-menu-button {
    width: 120px !important;
    max-width: 120px !important;
    background-color: red !important;
  }

  .sla-header .all-orders__btn-filter {
    display: none !important;
    background-color: red;
  }

  .sla-header .szh-menu-button {
    display: none !important;
    background-color: red;
  }

  .sla-row-height-btn {
    display: none;
  }

  .sla-expand-btn {
    display: none;
  }

  .categories-heading small {
    display: block ;
    color: #D0C7E8;
    font-weight: 400;
    width: 100%;
    font-size: 12px;
    margin-top: -5px;
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .sla-top {
    row-gap: 20px !important;
  }

  .sla-top .sla-date {
    width: 100%;
    min-width: 100% !important;
    max-width: 100% !important;
    padding-right: 0 !important;


  }

  .sla-top .calendar-span{
    width: 100%;
  }
  
  .sla-top .date-picker-input {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    font-size: 12px !important;
  }

  .sla-top div:last-of-type {
  }

  .sla-top .report-child-menu-button {
    max-width: 200px !important;
    /* min-width: 100px !important; */
    width: 100% !important;
    max-width: 100% !important;
  }

  .sla-top div:has(.report-child-menu-button) {
    width: 100% !important;
    max-width: 100% !important;
    width: 120px !important;

    justify-self: start;
  }

  .sla-top {
    font-size: 20px;
  }
}
