.table-wrapper{
  overflow: auto;
  height: 400px;

}

table {
  border-collapse: separate;
  border-spacing: 0px 3px;
  font-weight: bold;
  --border-radius: 10px;
  --color-primary-2: #7949f4;
  /* width: 100%; */
  /* width: 500px; */
  /* margin-left: auto; */
  margin-inline: auto;
}

thead{
  font-weight: 900;
}

tbody{
  font-size: 1.2rem;
  font-weight: 500;
}

th{
  width: 5rem;
  text-align: left;
  cursor: pointer;
}

td, th {
  padding: 5px 30px;
  background-color: #fff;
  white-space: nowrap;
  /* width: calc(100% / 7); */
  /* width: 100px; */
  --size: 180px;
  min-width: var(--size);
  max-width: var(--size);
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 123 123 123 */

tr{
  overflow: hidden;
}

tr:first-child {

}

thead tr:first-child::before{

}

thead th{
  pointer-events: all !important;

}

thead tr{
}

tr:first-child td{
  background-color: var(--color-primary-2);
  color: white;
}

/* tr::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.3);
  z-index: 1;
} */


/* Border radiuses */
/* Border radiuses */
/* Border radiuses */


th:first-child{
  border-top-left-radius:  var(--border-radius);
  border-bottom-left-radius:  var(--border-radius);
}

td:first-child{
  border-top-left-radius:  var(--border-radius);
  border-bottom-left-radius:  var(--border-radius);
}

th:last-child{
  border-top-right-radius:  var(--border-radius);
  border-bottom-right-radius:  var(--border-radius);
}

td:last-child{
  border-top-right-radius:  var(--border-radius);
  border-bottom-right-radius:  var(--border-radius);
}

tr td img{
  width: 1.8rem;
}


table input{
  border-bottom-color: rgba(0, 0, 0, 0.4) !important;
  
}

table input:focus{
  outline: none;
  border-bottom-color: rgba(0, 0, 0, 0.8) !important;


}

.table-input-wrapper{
  padding: 1px;
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-in-out;

}

.table-input-wrapper-show{
  height: 28px;
  
}